<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用文档</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/base.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/download.css">
    <script src="../../static/js/download.js" type="text/javascript"></script>
</head>
<body>
<div class="main">

    <div class="doc-wrap">
        <div class="doc-name">
            大学城校区<br/>音乐厅、会议场馆申用表
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/大学城校区音乐厅、会议场馆申用表.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            大学城校区<br/>横幅悬挂标贴
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/华南理工大学横幅悬挂.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            大学城校区<br/>教室借用申请表
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/华南理工大学南校区教室借用申请表.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            校园文化<br/>活动申请表
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/活动申请表.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            宿舍活动室申请表
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/活动室申请表.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            物资申请表
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/物资申请表.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            海报小标签
        </div>
        <div class="doc-bottom">
            <a href="../../static/doc/小标签.doc">下载</a>
        </div>
    </div>

    <div class="doc-wrap">
        <div class="doc-name">
            MORE
        </div>
        <div class="doc-bottom">
            <a href="#">下载</a>
        </div>
    </div>

</div>
</body>
</html>